.Heading{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
body{
    background-image: url("/images/desktop-1920x1080.jpg");
    
}
.parent{
    display: inline-flex;
    

}
.parent2{
    display: inline-flex;
}