.Heading{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

body{
    background-image: url("/images/desktop-1920x1080.jpg");
    
}
.parent{
    display: inline-flex;
    

}
.parent2{
    display: inline-flex;
}
@media (max-width: 600px) {
    .Heading{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
    .parent{
        display:grid;
        
    
    }
    .parent2{
        display: grid;
    }
}
