.Heading {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

body {
  /* background-color: rgb(108, 182, 235); */
  background-image: url("/images/mjh-shikder-y8UYogVwGiU-unsplash.jpg");
}
.parent {
    display: flex;
    
  flex-wrap: wrap;
  
    
}

@media only screen and (max-width: 380px) {
    body{
        background-size: cover;
    }
  .parent {
    /* background-color: brown; */
     flex: 1;
     margin-left: -120px;

    
  }
  
}
